.cache
.DS_Store
.idea
.etmp
logs
*.log
pids
*.pid
*.seed
npm-debug.log
lib-cov
coverage
data
node_modules
dist
/build
.npm
.eslintcache
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-debug.log*
yarn-error.log*
material
*.tgz
.yarn-integrity
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
lib/
pkg
tmp
artifacts
docs
firebase-debug.log
.firebaserc
firestore.indexes.json
firestore.rules
firebase.json
storage.rules
**/secrets.json
.firebase
