.heroContent {
  padding-bottom: 44.25%;
}

@media (min-width: 460px) {
  .heroContent {
    padding-bottom: 36.25%;
  }
}

@media (min-width: 640px) {
  .heroContent {
    padding-bottom: 36.25%;
  }
}

@media (min-width: 1024px) {
  .heroContent {
    padding-bottom: 26.25%;
  }
}

.logo {
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.lines {
  width: 20%;
  position: absolute;
  bottom: 0%;
  left: -10px;
}

.title {
  position: absolute;
  font-size: 30px !important;
  left: 19%;
  top: 30%;
  /* color: #e8e8e8 !important; */
  /* accessibility */
  color: #004a69 !important;
}

@media (min-width: 640px) {
  .title {
    left: 19%;
    top: 19%;
    font-size: 70px !important;
  }
}

.first,
.second,
.third {
  text-transform: uppercase;
  position: absolute;
  white-space: nowrap;
}

.first {
  color: #b09610 !important;
  bottom: 30%;
  left: 16%;
}

.second {
  color: #b5b5b5 !important;
  bottom: 15%;
  left: 9%;
}

.third {
  color: #ad8a56 !important;
  bottom: 0;
  left: 3%;
}

@media (min-width: 768px) {
  .first,
  .second,
  .third {
    font-size: 1.5em !important;
  }
}

@media (max-width: 640px) {
  .first,
  .second,
  .third {
    font-size: 1.3em !important;
  }
}

@media (max-width: 460px) {
  .first,
  .second,
  .third {
    font-size: 13.5px !important;
  }
}

@media (max-width: 330px) {
  .first,
  .second,
  .third {
    font-size: 11px !important;
  }
}
